{% load static %}
<div class="col-md-12">
    <div class="single-post-big">
        <div class="big-image">
            <img src="{% static 'img/post-image1.jpg' %}" alt="">
        </div>
        <div class="big-text">
            <h3><a href="#">Post Title Goes Here.</a></h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                ex ea commodo consequat.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua. Ut enim ad minim veniam.eiusmod tempor incididunt ut labore et dolore magna aliqua.
                Ut enim ad minim veniam.</p>
            <h4><span class="date">25 February 2017</span><span class="author">Posted By: <span class="author-name">Kabbo Liate</span></span>
            </h4>
        </div>
    </div>
</div>